@import "./defaults/colour";
@import "./components/header";

#toggle{
    visibility: hidden;
}

html{
    scroll-behavior: smooth;
}

// Body css allocates the backgroubnd image, a background colour in case the image can't be loaded, 
// assigns text colour, and orders the elements in the page in columns.

body{
    margin: 0;
    min-height: 100vh;
    background-color: $background_colour;
    color: $neutral_colour;
    text-align: center;
    background-image: url(../../images/bg_image.jpg);
    background-size:cover;
    background-attachment: fixed;
    scrollbar-color: $neutral_colour $textbox_colour;
}

// Main css assigns the margins to give space for header/footer, organises content in columns, 
// and gives text a shadow to make it clearer against background
main{
    margin: max(12vh, 44px) 0vw max(10vh, 40px) 0vw;
    text-shadow: 0.5px 0.7px 1px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 // Gives the title a font and size. 
 .title {
    font-size: max(2rem, 8vh);
    margin-bottom: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

