@import "../defaults/colour";
@import "../defaults/breakpoint";
@import "../defaults/fonts";


@mixin header-footer-style{
    font-size: 1.6em;
    padding: 1%;
    top: 0;
    text-align: left;
    position: fixed;
    width: 100vw;
    background-color: $element_colour;
    color: $menu_colour;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    z-index: 1;
    
    #logo{
        margin-left: 3vw;
        padding-top: 20%;
        font-family: 'Luckiest Guy', cursive;
        color: $menu_colour;
        font-size: max(6vh, 30px);
        
        &:hover{
            color: $hover_colour;
        }
    }
    
    nav{
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    a{
        text-decoration: none;
        color: $menu_colour;
        
        &:hover{
            color: $hover_colour;
            transform: scale(1.1);
        }
    }
    
    .nav-menu{
        padding: 1% 1% 0%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $menu-font;
    }
    
}

header{
    @include header-footer-style();
    
}

// This changes the header to become a hamburger-menu on mobile devices
@media screen and (max-width: $medium) {
    header{
        @include header-footer-style();
        background-color: $element_colour;
        height: 8vh;

        // This section dictates the hamburger-menu button
        .hamburger{
            border-radius: 10%;
            position: fixed;
            top: 2vh; right: 8vw; 
            z-index: 5;

            &:hover{
                div{
                    background-color: $hover_colour;
                }
            }

            div{
                border-radius: 0.5vh;
                width: min(12vh, max(10vw, 50px));
                height: 1vh;
                min-height: 8px;
                margin-top: 8%;
                background-color: $menu_colour;
                transition: all 0.2s ease-in-out;
            }
        }

        // This section defines the hamburger-menu. The scale(0) hides it, 
        // while the position makes the animation start/end at the hamburger menu
        .nav-menu {
            position: fixed;
            border-radius: 20%;
            width: 100%;
            height: 125%;
            background-color: $element_colour;
            top: -100%; right: -50%;
            transition: all 0.4s ease-in-out;
            transform: scale(0);
            text-align: left;

            // This section is for the expanded hamburger-menu.
                nav{
                    margin-top: -20vh;
                    width: 50%;
                    height: 50%;

                    margin-left: -20%;
                    display: flex;
                    flex-direction: column;
                    font-size: 28vh;

                    a{
                        margin-top: 6vh;
                        font-size: max(5vh, 2rem);
                    }
                }
          }
    }

    // This seciton animates the hamburger menu pop-in
    #toggle:checked + .hamburger + .nav-menu{
        top: -15%; right: -30%;
        transform: scale(1);        
        }
    // This section changes the hamburger button into an X shape
    #toggle:checked + .hamburger .top-bun{
        opacity: 0;
    }
    #toggle:checked + .hamburger .patty1{
        transform: rotate(45deg);
    }
    #toggle:checked + .hamburger .patty2{
        transform: rotate(-90deg);
    }
    #toggle:checked + .hamburger .bottom-bun{
        opacity: 0;
    }

}