@import "../index";
@import "../defaults/breakpoint";
@import "../defaults/colour";

// Assigns size of the contents of the page, as well as organising content in rows
article{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    // Assigns text box size. adds solid colour to box to improve readability. 
    .text{
        width: 60vw;
        font-size: max(1em, 3vh);
        border-radius: 16px/16px;
        border: solid white 3px;
        padding: 1.5%;
        background-color: $textbox_colour;
    }
    
    // Gives the picture a rounded edge, max height.
    .picture{
        overflow: hidden;
        img{
            max-height: max(40vh, 100px);
            border-radius: 50%;
        }        
    }   
}

#no-picture{
    width: auto;
    text-align: left;
    
    ul{
        margin-bottom: 0.3em;
    }
    ol{
        margin-top: 0;
    }

    button{
        background-color: $menu_colour;
        border: 1px solid $element_colour;
        border-radius: 4px;
        color: $element_colour;
        scale: 2;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        margin-left: 27vw;
        transition: all 0.1s ease-in-out;

        &:hover{
            background-color: $hover_colour;
            border-color: $menu_colour;
            font-weight: 600;
        }

        &:focus{
            border-color: $neutral_colour;
        }

    }
}



@media screen and (max-width: $medium) {
    main{
        .title{
            font-size: 3em;
        }
        article{
        flex-direction: column;
        align-items: center;
        width: 100vw;
        
        .picture{
            margin-bottom: 5vh;
        }
        .text{
            width: 80vw;
        }
        }

        #no-picture{
            width: 80vw;
            text-align: center;
            button{
                margin-left: auto;
            }
        }
    }
}