@import "../index";

.title{
    margin-top: max(13vh,85px);
    margin-bottom: 1vh;
}

main{
    margin-top: 1vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0;
    a{
        text-decoration: none;
        color: $neutral_colour;
    }
}

// produces "-" button for focused article. 
// Not displayed to begin with
.exit{
    color: $neutral_colour;
    height: 2%;
    width: 100%;
    text-align: end;
    font-weight: 700;
    text-shadow: -1px -1px 0px $background_colour,
                 -1px 1px  0px $background_colour,
                 1px -1px  0px $background_colour,
                 1px 1px   0px $background_colour;
    font-size: 2rem;
    position:sticky;
    top: -4%;
    right: 2%;
    margin-top: -5%;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    &:hover{
        cursor: pointer;
    }
}

// Defines blog post article styling.
article{
    width: max(20vw,100px);
    height: 25vh;
    font-size: max(1em, 3vh);
    border-radius: 16px/16px;
    border: solid $neutral_colour 3px;
    padding: 2%;
    background-color: $textbox_colour;
    margin: 0 2vw 5vh 2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    .post-title{
        font-size: 1.5em;
        width:100%;
        margin: 0;
        margin-top: 3%;
    }

    .date{
        font-size: 0.6em;
        margin: 0;
        margin-bottom: 2%;
        text-decoration: underline;
        font-weight: 100;
    }

    img{
        max-width: min(100%, 200px);
    }
    
    
    p{
        margin-top: 3%;
    }
    
    // This section changes the size and styling of the blog post when focused.
    &:focus{
        width: 80vw;
        height: 65vh;
        overflow-y: scroll;
        
        .post-title{
            font-size: 3rem;
        }
        
        img{
            max-width: 60%;
            max-height: 60%;
        }
        
        .portrait{
            float: left;
            padding-right: 1%;
        }

        .exit{
            display: inherit;
        }
    }
}



// When not viewed on mobile, this reorganises the page so that the focused post is at the top.
@media screen and (min-width: $small) {
    .post:focus{
        order: -1;
    }
}


// When viewing on tablets, this restricts the posts per row to 2
@media screen and (max-width: $medium) {
    article{
        width: 40vw;

        .exit{
            top: 0%;
        }
    }
}


// When viewing on mobile, organises posts in columns instead of rows.
@media screen and (max-width: $small){
    main{
        flex-direction: column;
        align-content: center;
    }

    article{
        transition: all 0.4s ease-in-out;
        width: 70vw;
    }
}