header {
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
  position: fixed;
  width: 100vw;
  background-color: #102c24;
  color: #cee59a;
  text-decoration: none;
}
header a {
  text-decoration: none;
  color: #cee59a;
}
header a:hover {
  color: #6a9e9f;
}
header .nav-menu {
  padding: 1% 1% 0%;
  margin-left: 50vw;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 601px) {
  nav {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  header {
    font-size: 1.2em;
    padding: 1%;
    text-align: center;
    position: fixed;
    width: 100vw;
    background-color: #102c24;
    color: #cee59a;
    text-decoration: none;
    background-color: #102c24;
    height: 8vh;
  }
  header a {
    text-decoration: none;
    color: #cee59a;
  }
  header a:hover {
    color: #6a9e9f;
  }
  header .nav-menu {
    padding: 1% 1% 0%;
    margin-left: 50vw;
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  header .hamburger {
    border-radius: 10%;
    position: fixed;
    top: 3vh;
    right: 8vw;
    z-index: 5;
  }
  header .hamburger div {
    border-radius: 0.5vh;
    width: 8vw;
    height: 1vh;
    margin-top: 0.5vh;
    background-color: #cee59a;
    transition: all 0.2s ease-in-out;
  }
  header .nav-menu {
    position: fixed;
    border-radius: 20%;
    width: 100%;
    height: 125%;
    background-color: #102c24;
    top: -100%;
    right: -50%;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    text-align: left;
  }
  header .nav-menu nav {
    margin-top: 30%;
    width: 50%;
    height: 50%;
    margin-left: -20%;
    display: flex;
    flex-direction: column;
  }
  header .nav-menu nav a {
    margin-top: 4vh;
    font-size: 8vh;
  }
  #toggle:checked + .hamburger + .nav-menu {
    top: -15%;
    right: -30%;
    transform: scale(1);
  }
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(45deg);
    translate: 0 1.5vh;
  }
  #toggle:checked + .hamburger .patty {
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .bottom-bun {
    transform: rotate(-45deg);
    translate: 0 -1.5vh;
  }
}
#toggle {
  visibility: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #131d25;
  color: #FFFFFF;
  text-align: center;
  background-image: url(../../images/bg_image.jpg);
  background-size: cover;
  background-color: #131d25;
}

main {
  margin: 10vh 0vw 10vh 0vw;
  text-shadow: 1px 1px 2px #131d25;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid red 1px;
}
main .title {
  font-size: 8vh;
  margin-bottom: 5vh;
}
main article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main article section {
  width: 80vw;
  border-radius: 16px/16px;
  border: solid white 3px;
  padding: 1.5%;
}
main article aside {
  overflow: hidden;
}
main article aside img {
  height: 25vh;
  border-radius: 50%;
}/*# sourceMappingURL=index.css.map */